<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alex.com.juego">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_gamepad_24"
        android:label="Hi user"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.juego">
        <activity
            android:name="alex.com.juego.JuegoEpicoActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.juego.FullScreen"/>
        <activity
            android:name="alex.com.juego.JuegodificilActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.juego.FullScreen" />
        <activity
            android:name="alex.com.juego.JuegoFacilActivity"
            android:exported="false"
            android:label="Adivina (Fácil)" />
        <activity
            android:name="alex.com.juego.InstruccionesActivity"
            android:exported="false"
            android:label="Instrucciones del juego" />
        <activity
            android:name="alex.com.juego.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>